button {
  border-radius: 5px;
}
.username {
  width: 90%;
  margin: 0 auto;
}
.password {
  width: 90%;
  margin: 0 auto;
}
.birthDate {
  width: 90%;
  margin: 0 auto;
}
#username {
position: relative;  
display: inline-block;  
text-align: center;
color: light blue;
font-size: 20px;
font-style: sans-serif;
}
#password { 
position: relative;  
display: inline-block;  
text-align: center;
color: light blue;
font-size: 20px;
font-style: sans-serif;
position: relative;
margin: 10px;
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
}
#birthDate {  
position: relative;  
display: inline-block;  
color: light blue;
font-size: 20px;
position: relative;
margin: 10px;
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
}
.title {
  position: fixed;
  color: red;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  padding-top: 2px;
  padding-bottom: 2px;
}
