form{
  background-color: gray;
  text-align: center;
  margin-top: -20px;
}
button {
  border-radius: 5px;
}
.title {
  position: fixed;
  width: 100%;
  margin: 7px auto;
  color: rgba(15, 50, 90, .8);
  border-style: groove;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  padding-top: 2px;
  padding-bottom: 2px;
}
.title2{
  margin-top: 20px;
} 
.title3{
  color: gray;
  border-style: none;
  background-color: none;
}
.h2Div{
  position: relative;
  text-align: center;
  margin-top: 10px;
  background-color: white;
}
.username {
  width: 90%;
  margin: 0 auto;
}
.password {
  width: 90%;
  margin: 0 auto;
}
.birthDate {
  width: 90%;
  margin: 0 auto;
}
#username {
position: relative;  
display: inline-block;  
text-align: center;
border-radius: 2px;
border-style: groove;
background-color: light blue;
color: light blue;
font-size: 20px;
font-style: sans-serif;
}
#password { 
position: relative;  
display: inline-block;  
text-align: center;
border-radius: 2px;
border-style: groove;
background-color: light blue;
color: light blue;
font-size: 20px;
font-style: sans-serif;
position: relative;
margin: 10px;
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
}
#birthDate {  
position: relative;  
display: inline-block;  
border-radius: 2px;
border-style: groove;
background-color: light blue;
color: light blue;
font-size: 20px;
font-style: sans-serif;
position: relative;
margin: 10px;
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
}

