body{
  background-image:url("https://www.nasa.gov/sites/default/files/thumbnails/image/darkrift-orig_full.jpg");
}

form{
  text-align: center;
  font-weight: bold;
  margin-top: -3px;
 
  
}
button {
  position: fixed;
  color: rgba(0, 0 , 255, 0.8);
  border-radius: 5px;
  border-style: groove;
  border-color: rgba(0, 0, 255, 0.75);
  font-weight: bold;
  
}
.title {
  position: fixed;
  width: 100%;
  margin: 7px auto;
  color: rgba(15, 50, 90, .8);
  border-color: rgb( 0, 0, 255, 0.7);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  padding-top: 2px;
  padding-bottom: 2px;
 
}
.title2{
  color: red;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 1;
} 
.title3{
  color: black;
  font-weight: bold;
  border-style: none;
  text-align: center;
  z-index: 1;
}
.h2Div{
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  z-index: 1;
}
.h3Div{
  position: relative;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  border-color: white;
  z-index: 1;
  
}
#funButton {
  border-style: groove;
  border-radius: 2px;
  text-align: center;
  z-index:1;
  
}
.username {
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}
.password {
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}
.birthDate {
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}
#username {
position: relative;  
display: inline-block;  
text-align: center;
border-radius: 10px;
border-style: groove;
border-color: gray;
background-color: light blue;
color: light blue;
font-size: 20px;
z-index: 1;

}
#password { 
position: relative;  
display: inline-block;  
text-align: center;
border-radius: 10px;
border-style: groove;
background-color: light blue;
color: light blue;
font-size: 20px;
position: relative;
margin: 10px;
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
z-index: 1;

}
#birthDate {  
text-align: center;  
position: relative;  
display: inline-block;  
border-radius: 10px;
border-style: groove;
border-color: gray;
background-color: light blue;
color: light blue;
font-size: 20px;
position: relative;
margin: 10px;
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
z-index: 1;
}

.funButton {
  color: rgba(0, 0, 255, 0.8);
  width: 90%;
  margin: 0 auto;
  text-shadow: 2px;
  border-color: gray;
  z-index: 1;
}

